* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right , rgba(255 , 255 , 0 , 0.3) , rgba(255 , 166 , 0, 0.3));
    height: 100vh;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    position: absolute;
    top: 20%;
    left: 30%;
}

#ice-creams  , .more{
    list-style: none;
}

.flavours {
    font-size: 2rem;
}

.flavour {
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
}

.more li {
    font-size: 1.2rem;
    padding: 0.3em;
}

.arrow::before {
    content: "\25B6";
    color: black;
    margin-right: 0.3em;
    display: inline-block;
}

.more {
    display: none;
}

.show {
    display: block;
}

.arrow-down::before {
    transform: rotate(-270deg);
}